{% extends "base.html" %} {% block mainContent %}

<h1>{{typeAction}} de Ingresos/Gastos</h1>
<p>Simulacro de contabilidad</p>

<form action="/new" method="post">
  <label for="fecha">Fecha</label>
  <input type="date" name="date" required />
  <br />
  <label for="concepto">Concepto</label>
  <input type="text" name="concept" placeholder="Ingrese concepto" required />
  <br />
  <label for="cantidad">Cantidad</label>
  <input
    type="number"
    name="quantity"
    placeholder="Ingrese cantidad"
    required
  />
  <br />
  <button type="submit">{{buttonAction}}</button>
</form>
{% endblock %}
