{% extends "base.html" %} {% block mainContent %}
<h1>Lista de Ingresos y Gastos</h1>
<p>Simulacro de contabilidad</p>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Concepto</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    {% for item in lista %} {#Se remplazan las variables por los valores
    declarados en routes#}
    <tr>
      <td>{{item.fecha}}</td>
      <td>{{item.concepto}}</td>
      <td>€{{item.cantidad}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="/new">Nuevo registro</a>
{% endblock %}
